@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-red-main {
        color: theme('colors.red.main');
    }
    .border-red-main {
        border-color: theme('colors.red.main');
    }

    .list-icon {
        @apply w-8 h-8 stroke-current;
    }

    @font-face {
        font-family: Futura;
        font-weight: 500;
        src: url(../fonts/futura/FuturaPTMedium.otf) format("otf");
    }

    @font-face {
        font-family: Futura;
        font-weight: 300;
        src: url(../fonts/futura/FuturaPTLight.otf) format("otf");
    }

    @font-face {
        font-family: Futura;
        font-weight: 700;
        src: url(../fonts/futura/FuturaPTBold.otf) format("otf");
    }

    .font-futura {
        font-family: Futura;
    }
}
